body {
   margin : 40px;

}

.avatar {
   width : 200px;
   margin-bottom: 15px;
}


@media (max-width: 600px) {
  .card {
    flex-direction: column;
    padding: 15px;
  }

.card {
   
   padding: 20px;
   border-radius: 20px;
   display: flex;
   flex-wrap: wrap; 
   justify-content: space-around;
   width: 500px;
   width: 90%;
   text-align: center;
   background: #f5eef8;
   color: darkslategrey;
   font-family: "Gowun Batang", serif;
   border-bottom: 20px solid #884ea0;
   margin: auto;
   justify-content: center;
   align-items: center;
   


   

}
